{% extends 'master.html' %}

{% block title %}
  Input Maintenance
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger card-header-text">
          <div class="card-text">
            <h4 class="card-title">Inventory Audit</h4>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal" id="input_form">
            {% csrf_token %}

            {% if form.errors %}
            <ul>
              <li>
                {% for error in form.errors %}
                    {{ error }}
                {% endfor %}
              </li>
            </ul>
            {% endif %}
              
            <div class="row">
                <label class="col-sm-2 col-form-label">Purpose:</label>
                <label class="col-form-label">&nbsp&nbsp</label>
                <div class="col-sm-6">
                    <div class="form-group">
                    {{ form.purpose }}
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">Audit date:</label>
                <label class="col-form-label">&nbsp&nbsp</label>
                <div class="col-sm-6">
                    <div class="form-group">
                    {{ form.audit_date }}
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">Reason:</label>
                <label class="col-form-label">&nbsp&nbsp</label>
                <div class="col-sm-6">
                    <div class="form-group">
                    {{ form.reason }}
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">Results:</label>
                <label class="col-form-label">&nbsp&nbsp</label>
                <div class="col-sm-6">
                    <div class="form-group">
                    {{ form.results }}
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">File:</label>
                <label class="col-form-label">&nbsp&nbsp</label>
                <div class="col-sm-6">
                    {{ form.file }}
                </div>
            </div>

            <hr />

            <div class="row text-center">
            <div class="col-md-12 text-center">
                <button name="submit" id="submit" type="submit" class="btn btn-success">Submit</button>
            </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
