{% extends 'master.html' %}

{% block title %}
  View Inventory
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-icon card-header-danger">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Inventory</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div class="row">
                    <div class="col-md-6">
                      <h1>Asset: {{ asset.manufacturer.name }} {{ asset.name }}</h1>
                      <h3>
                        <strong>Category:</strong>{{ asset.category.name }}
                      </h3>
                      <h3>
                        <strong>Price:</strong>{{ asset.price }}
                      </h3>
                      <h3>
                        <strong>Status:</strong>{{ asset.status.name }}
                      </h3>
                      <h3>
                        <strong>Checkout status:</strong>{{ asset.get_checkout_status_display }}
                      </h3>
                      <h3>
                        <strong>Assigned to:</strong>{{ asset.assigned_to }}
                      </h3>
                      <h3>
                        <strong>Department:</strong>{{ asset.department.name }}
                      </h3>
                      <h3>
                        <strong>Purchase date:</strong>{{ asset.purchase_date }}
                      </h3>
                    </div>
                    {% if asset.asset_image %}
                    <div class="col-md-6">
                      <img src="{{ asset.asset_image.url }}" class="img-fluid">
                    </div>
                    {% endif %}
                  </div>
                  <a class="btn btn-danger" href="{% url 'view_inventory-update' asset.id %}" role="button">Update</a>
                  <a class="btn btn-danger float-right" href="{% url 'view_inventory-delete' asset.id %}" role="button">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
